.font-thin {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
}

.font-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

.font-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
}

html, body {
    min-height: 100%;
    min-width: 100%;
}

body {
    background-color: #ECF0F1;
    font-family: "Titillium Web", sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased !important;
}

.shellDiv {
    height: 90vh;
    padding-top: 150px;
}

.container-fluid {
    margin: 0;
}

.leaflet-container {
	background-color: transparent;
}

.logoDiv {
    position: absolute;
    z-index: 100;
    padding: 2rem;
}

.logoDiv img {
    height: 75%;
    width: 75%;
}

.fullscreen-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: relative;
    top: 0;
    left: 0; 
    bottom: 0;
    right: 0;
    min-width: 100vw; 
    min-height: 100vh;
    width: auto;
    height: auto;
}

/*NAVBAR */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 0;
    border: none;
    padding: 10px 0;
    background-color: transparent;
    font-size: 1.75rem;
}

.navbar-nav {
    text-align: center;
    float: right;
    padding-right: 115px;
}

.navbar-nav li {
    /*padding: 0 25px;*/
    margin: 0 10px;
    border: 2px solid rgb(131, 217, 42);
    border-radius: 10px;
}

.navbar-nav li:hover {
    background-color: #0e2f44;
}

.navbar-default .navbar-nav>li>a {
    color: #0e2f44;
    padding: 15px 25px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgb(131, 217, 42);
}

/*INDEX*/
.indexText h2 {
    color: #fff;
    font-size: 8rem;
}


/*FORMS*/
.errorMessage {
    color: red
}

 /*INSIGHTS */

 .insights {
    position: relative;
    padding-top: 100px;
 }

 select {
    font-size: 3rem;
    border: 1px solid #83d92a;
    border-radius: 0;
    margin-left: 100px;
 }

.legend {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255, 0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 6px 8px;
    width: 180px;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.worldmap.country {
    font: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 1em;
    right: 2em;
    z-index: 100;
    padding: .2em .5em;
    line-height: 1.2em;
    text-align: center;
    background: rgba(255,255,255, 0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 6px 8px;
}

.genre h3 {
    position: relative;
    width: 100%;
    margin-top: 0;
}

.genreText {
    padding-left: 0px;
}

.genreText li {
    list-style-type: none;
}

.selectedCountry {
    font-size: 2rem;
    padding: 5px;
}

.selectedCountryArtist, .selectedCountryTrack, .selectedCountryListen {
    font-size: 1.5rem;
    padding: 5px;
}

.selectedCountryImg img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/* LOCALS */
.locals {
    position: relative;
    padding-top: 100px;
}

.localPopup {
    width: auto;
}

/* LOGIN */

.loginForm, .registerForm {
    margin-left: 150px;
}

/* PROFILE PAGE */

.profile {
    position: relative;
    top: 0;
}

.profilePic img {
    width: 150px;
    height: 150px;
}

.insights {
    position: relative;
    padding: 0 100px 0 100px;
    left: 0;
    width: 100%;
    margin: 0;
}

.insights h2, h3 {
    text-align: center;
}

.defaultDiv {
    padding: 0;
}

.leaflet-control-attribution {
    display: none;
}

/* FOOTER */
footer {
    /*position: relative;*/
    clear: both;
    background-color: #ECF0F1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
}