.font-thin {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
}

.font-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

.font-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
}

/** {
    position: relative;
}*/

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #2f2f2f;
    font-family: "Titillium Web", sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased !important;
}

.container-fluid {
    margin: 0;
}

.leaflet-container {
	background-color:#efefef;
}

.logo {
    position: relative;
    z-index: 100;
    padding: 2rem;
}

.fullscreen-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: relative;
    top: 0;
    left: 0; 
    bottom: 0;
    right: 0;
    min-width: 100vw; 
    min-height: 100vh;
    width: auto;
    height: auto;
}

/*NAVBAR */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    opacity: 0.7;
    padding-left: 115px;
}

/*INDEX*/
.indexText h2 {
    color: #fff;
}

 /*INSIGHT MAP */
.legend {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255, 0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 6px 8px;
    width: 180px;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* PROFILE PAGE */

.profile {
    position: absolute;
    top: 0;
}

.profilePic img {
    width: 150px;
    height: 150px;
}
