<div class="row col-xs-12 mapDiv">
            <h3>Your Music, Your Scene</h3>
    <div class="container-fluid">
    	<div class="locals">
    	<h4>Find Your Scene</h4>
	    	<div class="localCol col-xs-2">
	    	<form autocomplete="off">
	    	    <div class="form-group">
	    	      <div class="input-group">
	    	        <div class="input-group-addon localSearchIcon"><i class="fa fa-search"></i></div>
	    	        <input type="text" class="form-control" placeholder="Search" ng-model="localSearch">
	    	      </div>      
	    	    </div>
	    	  </form>
						<div ng-repeat="date in itemsPaginated() | filter:localSearch | limitTo: 6 | orderBy: '-date.date':true" class="repeatCol">
								<ul>
									<li class="colDate">{{date.date | date: 'shortDate'}}</li>
									<li class="colArtist">{{date.artist}}</li>
									<li class="colTourName">{{date.tourName}}</li>
									<li class="colVenue">{{date.venue}}: {{date.addy}}</li>
								</ul>
							</div>
						<i class="fa fa-arrow-circle-o-left" ng-click="datesLess()"></i><i class="fa fa-arrow-circle-o-right" ng-click="datesMore()"></i>
			</div>
				<leaflet lf-center="center" defaults="defaults" markers="markers | filter: localSearch" width="90%" height="800px"></leaflet>
			</div>
    </div>
</div>