<div class="row col-xs-6 loginForm">
<form ng-submit="login()">
		<fieldset class="form-group">
		  <label for="registerUserName">User Name</label>
		  <p class="errorMessage">{{error}}</p>
		  <input type="text" class="form-control" id="registerUserName" placeholder="User Name" ng-model="loginForm.username">
		</fieldset>
		<fieldset class="form-group">
		    <label for="registerPassword">Password</label>
		    <input type="password" class="form-control" id="registerPassword" placeholder="Password" ng-model="loginForm.password">
		  </fieldset>
		 	<input type="submit" class="btn btn-primary">
	</form>
	<div class="container">
		<div class="row col-xs-12">
			<h4><a href="#/register">Click Here</a> to Register</h4>
		</div>
	</div>
</div>